body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}
#tableContainer {
	width: 100%;
	height: 300px;
	overflow-y: auto; /* Habilitado de nuevo el scroll */
	border-radius: 10px; /* Bordes redondeados */
	border: 1px solid #888; /* Borde de la tabla */
}
#productsTable thead {
	position: sticky;
	top: 0;
	background-color: white;
}